    <div class="row">
        <div class="col-1">
            Media :
        </div>
        <div class="col-10">
            {% for m in results %}
                <div class="row">
                    <div class="col-4">
                        <a href="{{ path('app_song_show', {'id': m.song.id}) }}" class="song-link">{{ m.song.name}}</a>
                    </div>
                    <div class="col-4">
                        {{ m.name}}
                    </div>
                    <div class="col-4">
                        {{ m.link}}
                    </div>
                </div>
            {% else %}
                <p>No media found</p>
            {% endfor %}
        </div>
    </div>