        <a href="{{ path('app_song_add_playlist', {'song': song.id}) }}" title="Add to playlist" class="btn custom-btn">
            <span class="hide-on-mobile">Playlist </span>
            <i class="bi bi-music-note-list"></i></button>
        </a>