        <a href="{{ path('app_playlist_remove_song', {'song': song.id, 'playlist': playlist.id }) }}" title="Remove from playlist" class="btn custom-btn">
            <span class="hide-on-mobile">Remove </span>
            <i class="bi bi-trash"></i>
        </a>